<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <title><%- VITE_APP_NAME -%></title>
  <script type="module" src="/src/main.js"></script>
</head>
<body>

  <game-header>
    <div class="button" name="help" slot="buttons-left"></div>
    <h2 slot="brand"><%- VITE_APP_BRAND -%></h2>
    <div class="button" name="stats" slot="buttons-right"></div>
    <div class="button" name="settings" slot="buttons-right"></div>
  </game-header>

  <article>
    <screen-router>
      <div slot="load-spinner">
        &#9676;
      </div>
      <landing-screen></landing-screen>
      <results-screen></results-screen>
      <help-screen></help-screen>
      <stats-screen></stats-screen>
      <settings-screen></settings-screen>
    </screen-router>
  </article>
</body>
</html>
